
h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Helvetica Neue', sans-serif;
}

h3 {
    text-decoration:underline;
    font-family: 'Helvetica Neue', sans-serif;
}

p, li {
    font-family: "Helvetica 35 Thin", sans-serif;
}